Code
JetBrains
cava
environment.d
dconf
gh
htop
micro/backups
micro/buffers
mozilla
pavucontrol.ini
pulse
systemd
wlogout
nemo
gtk-3.0
fontconfig
calibre
tailscale
QtProject.conf
copyq
winboat
containers
flutter
vlc
